<div class="container">
    <div class="row">
        <div class="col">
            <img src="/assets/img/img_14.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col">
            <img src="/assets/img/img_15.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col">
            <img src="/assets/img/img_3.jpeg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/assets/img/img_4.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col">
            <img src="/assets/img/img_5.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col">
            <img src="/assets/img/img_6.jpeg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/assets/img/img_7.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col">
            <img src="/assets/img/img_22.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col">
            <img src="/assets/img/img_9.jpeg" alt="" class="img-fluid">
        </div>
    </div>
</div>