//==================footer===============
.footer-container{
    background-color:var(--primary-color) ;
    padding: 3%;
  }
  .footer-contact{
    color: white;
  }
  .footer-links{
    color: white;
  }
  .footer-links ul li a{
    text-decoration: none;
    color: white;
  }
  .social-links{
    color: white;
  }
  
  .social-links a{
    margin: 2%;
    font-size: 25px;
  }
  .footer-container .container h3,h4{
   font-family: MReaves;
  }
//   /////////////////

.link {
    background: transparent;
    // color: #242424;
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.sticky {
  position: sticky;
  z-index: 10;
  top: 0;
}