<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/assets/1.jpg" alt="First slide" width="100">
            <div class="carousel-caption d-none d-md-block">
                <h2>We Provide Best Moving Service</h2>
                <p class="text-white">Get Your Shifting Done With Pune's Best and Trusted Packers and Movers Company</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container">
    <section>
        <div>
            <h1>Why to choose us -</h1>
        </div>
        <div style="display: grid;">
            <p style="font-size: x-large;">
                &emsp;We are The Great Packers and Movers providing most trustable moving services. We Move You Safely & Gracefully.
            </p>
            <p style="font-size: x-large;">
                <img src="/assets/img/business-card.jpeg" width="300" style="float: left; margin-right: 2rem;">
                We are all Over India Packers and Movers Service Providers. We have a team of well trained movers services specialists staff ready to do your job done as suite your demands.
            </p>
        </div>
    </section>
    <section>
        <h1>What we offer -</h1>
        <ul>
            <li>Household Goods of Professional Packing</li>
            <li>Office Moving</li>
            <li>Car,Bike Transportation</li>
            <li>Residencial Relocation service</li>
            <li>Industrial machinery Relocation</li>
            <li>Loading Unloding service</li>
            <li>Air Freight Services</li>
            <li>Storage</li>
            <li>Labour Supplier</li>
        </ul>     
    </section>
</div>

<div class="work-process-container">
    <h1>How we work</h1>
    <table>
        <tr>
            <td>
                <div>
                    <img src="/assets/img/schedule.jpg" height="100">
                    <h4>Book Slot</h4>
                </div>                
            </td>
            <td>
                <img src="/assets/img/arrow-next.png" height="100">
            </td>
            <td>
                <div>
                    <img src="/assets/img/packing.png" height="100">
                    <h4>Good's Packing</h4>
                </div>                
            </td>
            <td>
                <img src="/assets/img/arrow-next.png" height="100">
            </td>
            <td>
                <div>
                    <img src="/assets/img/loading.png" height="100">
                    <h4>Loading</h4>
                </div>                
            </td>
            <td>
                <img src="/assets/img/arrow-next.png" height="100">
            </td>
            <td>
                <div>
                    <img src="/assets/img/delivery.jpg" height="100">
                    <h4>Delivery</h4>
                </div>
            </td>
        </tr>
    </table>
</div>