// section {
//     padding: 100px 0;
// }
p {
    padding: 0 0 10px 0;
    margin: 0;
    color: #6b6b6b;
    line-height: 26px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style-type: none;
}
li {
    font-size: 18px;
}

.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-title{
    background-color: var(--primary-color);
    padding: 2%;
}







